---
http_interactions:
- request:
    method: get
    uri: https://api.mollie.com/v1/issuers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer test_4drFuX5HdjBaFxdXoaABYD8yO4HjuT
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Whom:
      - dc1-web-1
    body:
      encoding: UTF-8
      string: '{"totalCount":1,"offset":0,"count":1,"data":[{"id":"ideal_TESTNL99","name":"TBM
        Bank","method":"ideal"}]}'
  recorded_at: Wed, 08 Oct 2014 20:21:37 GMT
recorded_with: VCR 2.9.3
